<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booking.dao.FileDao">
	<select id="selectSaveFileName" parameterType="Integer" resultType="String">
		SELECT save_file_name
		FROM file
		WHERE id = #{fileId}
	</select>
		
	<select id="selectProductImageList" parameterType="Integer" resultType="Integer">
		SELECT file_id
		FROM product_image
		WHERE product_id = #{productId} AND (type = 1 OR type = 2)
	</select>
	
	<select id="selectProductNoticeImageList" parameterType="Integer" resultType="Integer">
		SELECT file_id
		FROM product_image
		WHERE product_id = #{productId} AND (type = 3)
	</select>
	
	<select id="selectProductInformationImage" parameterType="Integer" resultType="Integer">
		SELECT file_id
		FROM product_image
		WHERE product_id = #{productId} AND (type = 4)
	</select>

	<insert id="insertImage" parameterType="com.booking.dto.FileDto">
		INSERT INTO file(user_id, file_name, save_file_name, file_length, content_type, delete_flag, create_date, modify_date)
		VALUES (#{userId}, #{fileName}, #{saveFileName}, #{fileLength}, #{contentType}, 0, SYSDATE(), SYSDATE())
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>	
	</insert>
</mapper>