<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.booking.dao.ReviewDao">
	<select id="selectName" parameterType="Integer" resultType="String">
		SELECT p.name reservation_name
		FROM reservation_info ri inner join product p on ri.product_id = p.id
		WHERE ri.id = #{id}
	</select>
	
	<select id="selectProductReviewList" parameterType="HashMap" resultType="com.booking.dto.ReviewDto">
		SELECT ruc.id, ruc.comment, ruc.score, ruc.create_date, u.nickname, IFNULL(ruci.file_id, 0) as thumbnailFileId, COUNT(ruci.file_id) thumbnailCount
		FROM reservation_user_comment ruc
		INNER JOIN users u ON ruc.user_id = u.id
		LEFT OUTER JOIN reservation_user_comment_image ruci ON ruc.id = ruci.reservation_user_comment_id 
		WHERE ruc.product_id = #{productId}
		GROUP BY ruc.id
		ORDER BY ruc.create_date
		LIMIT #{page}, #{limit}
	</select>
	
	<select id="selectReviewAvgCount" parameterType="Integer" resultType="com.booking.dto.ReviewDetailDto">
		SELECT AVG(score) as avg_score, COUNT(*) as review_count, product_id, p.name as product_name
		FROM reservation_user_comment ruc
		INNER JOIN product p ON ruc.product_id = p.id
		WHERE product_id = #{id}
	</select>
	
	<insert id="insertReview" parameterType="com.booking.dto.ReviewWriteDto" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO reservation_user_comment(product_id, user_id, score, comment, create_date, modify_date)
		VALUES (#{productId}, #{userId}, #{score}, #{comment}, SYSDATE(), SYSDATE())
	</insert>
	
	<insert id="insertReviewImage" parameterType="hashmap" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO reservation_user_comment_image (reservation_user_comment_id, file_id)
		VALUES (#{reservationUserCommentId}, #{fileId})
	</insert>
</mapper>